sqlalchemy
python-dotenv
asyncpg
cloudinary
onnxruntime 
opencv-python-headless 
numpy
qdrant-client==1.12.2
scipy
onnx
fastapi 
uvicorn 
python-multipart
pydantic 
Pillow
python-jose[cryptography] 
requests 
aiohttp
redis